@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */

.wrapper {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  padding: 1rem;
  /* background-color: #f9fafb;  */
}


html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
}
.router-view {
  flex: 1;
  width: 100%;
}

.login-header {
  color: darkblue;
  margin-bottom: 40px;
  text-align: center;
}

.text-header {
   color: blueviolet;
   margin-bottom: 15px;
}

.button-login{
  padding: 10px 10px;
  color: #ffffff;
  width: 100%;
  background-color: green;
  margin-bottom: 20px;
}